::-moz-selection {
  background-color: #000000;
  color: #fff;
}

::selection {
  background-color: #000000;
  color: #fff;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
  background-color: #E3E6E6;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  text-transform: initial;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

.sideBarNav {
  position: fixed;
  background: purple;
  top: 94px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  .searchNav {
    position: relative;
    width: 315px;
  }
}
.searchNav input[type=text] {
  position: absolute;
  width: 98%;
  left: 50%;
  top: 7%;
  transform: translateX(-50%);
  z-index: 9;
  border-radius: 5px;
  height: 40px;
  font-size: 15px;
  outline: none;
  padding: 4px 7px;
}
@media screen and (min-width: 768px) {
  .searchNav input[type=text] {
    position: relative;
    width: 100%;
    height: 33px;
    left: auto;
    top: auto;
    transform: unset;
    font-size: 15px;
    padding: 4px 38px 4px 7px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
}
@media screen and (min-width: 768px) {
  .searchNav .cursor-pointer {
    cursor: pointer;
    position: absolute;
    right: 0;
    z-index: 9;
    background: purple;
    height: 100%;
    padding: 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
  }
}

.directbtnLeft a:nth-child(odd) {
  background-color: #ededed;
}

.directbtnLeft a:hover {
  background-color: #000;
}

.homeElement .homeElementInner {
  display: ruby;
}

.loginChoosebox > div:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.newArrivalItemSec .newArrivalProductImg img {
  width: 100%;
  height: auto;
}

.newArrival:nth-child(2n+1) .newArrivalProductImg img {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 1px 1px 0px 0px #a9a5a5;
}
@media screen and (min-width: 768px) {
  .newArrival:nth-child(2n+1) .newArrivalProductImg img {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
  }
  .newArrival:nth-child(3n+1) .newArrivalProductImg img {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 1px 1px 0px 0px #a9a5a5;
  }
  .newArrival:nth-child(3n+2) .newArrivalProductImg img {
    border-radius: 5px !important;
    box-shadow: 1px 1px 0px 0px #a9a5a5;
  }
}
@media screen and (min-width: 992px) {
  .newArrival:nth-child(3n+1) .newArrivalProductImg img {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
  }
  .newArrival:nth-child(3n+2) .newArrivalProductImg img {
    border-radius: unset !important;
  }
  .newArrival:nth-child(4n+2) .newArrivalProductImg img {
    border-radius: 5px !important;
    box-shadow: 1px 1px 0px 0px #a9a5a5;
  }
  .newArrival:nth-child(4n+3) .newArrivalProductImg img {
    border-radius: 5px !important;
    box-shadow: 1px 1px 0px 0px #a9a5a5;
  }
  .newArrival:nth-child(4n+1) .newArrivalProductImg img {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    box-shadow: 1px 1px 0px 0px #a9a5a5;
  }
}
@media screen and (min-width: 1200px) {
  .newArrival:nth-child(4n+2) .newArrivalProductImg img {
    border-radius: unset !important;
  }
  .newArrival:nth-child(4n+3) .newArrivalProductImg img {
    border-radius: unset !important;
  }
  .newArrival:nth-child(4n+1) .newArrivalProductImg img {
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
  }
  .newArrival:nth-child(4n+4) .newArrivalProductImg img {
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
  }
  .newArrival:nth-child(6n+2) .newArrivalProductImg img {
    border-radius: 5px !important;
    box-shadow: 1px 1px 0px 0px #a9a5a5;
  }
  .newArrival:nth-child(6n+3) .newArrivalProductImg img {
    border-radius: 5px !important;
    box-shadow: 1px 1px 0px 0px #a9a5a5;
  }
  .newArrival:nth-child(6n+4) .newArrivalProductImg img {
    border-radius: 5px !important;
    box-shadow: 1px 1px 0px 0px #a9a5a5;
  }
  .newArrival:nth-child(6n+5) .newArrivalProductImg img {
    border-radius: 5px !important;
    box-shadow: 1px 1px 0px 0px #a9a5a5;
  }
  .newArrival:nth-child(6n+1) .newArrivalProductImg img {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    box-shadow: 1px 1px 0px 0px #a9a5a5;
  }
}
.newArrival:nth-child(2n+2) .newArrivalProductImg img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  box-shadow: 1px 1px 0px 0px #a9a5a5;
}
@media screen and (min-width: 768px) {
  .newArrival:nth-child(2n+2) .newArrivalProductImg img {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
  }
  .newArrival:nth-child(3n+3) .newArrivalProductImg img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 1px 1px 0px 0px #a9a5a5;
  }
}
@media screen and (min-width: 992px) {
  .newArrival:nth-child(3n+3) .newArrivalProductImg img {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
  }
  .newArrival:nth-child(4n+4) .newArrivalProductImg img {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    box-shadow: 1px 1px 0px 0px #a9a5a5;
  }
}
@media screen and (min-width: 1200px) {
  .newArrival:nth-child(6n+6) .newArrivalProductImg img {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
  }
}/*# sourceMappingURL=main.css.map */